.login{
    --w:400px;
    --h:500px;
    position: fixed;
    width: var(--w);
    height: var(--h);
    background: rgb(143, 220, 255);
    left:  calc(50% - (var(--w)) / 2 );;
    top: calc(50% - (var(--h)) / 2 );
}

.login-content{
    padding: 50px;

}

.slogan{
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 13, 131);
    letter-spacing: 1px;
}

.form-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.form-item label{
    font-size: 18px;
    font-weight: 800;
}

.form-item input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    border: 2px solid rgb(41, 134, 255);
    border-radius: 5px;
    outline: 0;
}

.login-btn{
    display: flex;
    justify-content: space-between;
}

.login-btn button{
    padding: 10px 20px;
    border: 0;
    background: blue;
    color: aliceblue;
    font-size: 15px;
}

.login-success{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: rebeccapurple;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    
}

.login-success .active{
    display: flex;
}

.success{
    background: rebeccapurple;
    padding: 10px;
    min-width: 300px;
    min-height: 200px;
    border-radius: 30px;
}

.title{
    text-align: center;
    margin-bottom: 10px;
}
.success-btn{
    text-align: center;
}

.login-success .btn {
    border: 0;
    padding: 10px 20px;
    background: #1743a0;
    color: #fff;
    cursor: pointer;
}


